/*Theme*/
.bg{
	background-color: #c00;
}

label{
	font-family: fantasy;
	font-size: x-large;
}


/*Core structures*/

.border{
	border: 1px solid #AEAEAE;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
	
	font-family: Arial;
	-webkit-font-smoothing: antialiased;
}

body, html {
    height: 100%;
}

#menu_bar{
	height: 50px;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding: 0 20px;
	margin-bottom: 5px;
	justify-content: center;
}

#container{
	height: 100%;
	padding: 15px;
}

#logo{
	color: white;
	font-size: x-large;
	font-weight: 900;
	margin-left: 20px;
}

.center{
	text-align: center;
}

.control{
	
}

.small_button{
	background-color: #990000;
	max-width: min-content;
	padding: 10px;
	text-align: center;
	border: 2px #ffafaf inset;
}

.menu_item{
	flex: auto;
}

.page_region{
	margin: 10px;
	text-align: center;
	background-color: #c00;
}

/*Specific controls*/
#search_bar{
	width: inherit;
	max-width: 300px;
}

#upload_link{
	text-decoration: none;
	color: white;
	float: right;
	width: 50px;
}

.slick-slide{
	width: 300px;
}

.slick-slide .image{
	padding: 10px;
}

.slick-slide img{
	border: 5px solid #FFF;
	display: block;
	width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 500px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

/*   Tablet   */
@media only screen and (max-width: 800px)
{
	#menu_bar{
		height: 100px;
		flex-direction: column-reverse;
	}
	
	.menu_item{
		width: 100%;
		text-align: center;
	}
	
	.control input{
		height: 30px;
		font-size: x-large;
	}
	
	.drop-box {
		height: 400px;
	}
}

@media only screen and (max-height: 500px){
	.drop-box {
		
	}
}