<div id="menu_bar" class="border bg">
	<div class="control menu_item"> 
		<input id="search_bar" type="text" placeholder="Search ...">
		
		</input>
	</div>
	<div id="logo" class="menu_item">
		<label>
			CyTube
		</label>
	</div>
</div>