<div id="menu_bar" class="border bg">
	<div class="control menu_item"> 
		<input id="search_bar" type="text" placeholder="Search ...">
		
		</input>
	</div>
	<div id="logo" class="menu_item">
		<label onclick="goHome()">
			CyTube
		</label>
	</div>
	<div class="control menu_item small_button">
		<a id="upload_link" href="/upload">Upload</a>
	</div>
</div>

<script>
function goHome(){
	document.location.href = "/";
}

document.getElementById('search_bar').addEventListener('keyup', function(e){
	e.preventDefault();
	if (e.keyCode == 13){
		var input = this.value;
		
		if (input === undefined || input === "")
			return;
		
		window.location.href = "/watch/" + input;
	}
});

function searchVideo(){
	
}

</script>