/*Theme*/
.bg{
	background-color: #c00;
}


.border{
	border: 1px solid #AEAEAE;
}

#menu_bar{
	height: 30px;
	justify-content: flex-start;
	display:flex;
	flex-direction: row;
	align-items: center;
	padding: 3px;
	margin-bottom: 5px;
}

#container{
	height: 100%;
}

.control{
	
}



/*Specific controls*/
#search_bar{
	padding-left: 8px;
}