<!doctype html>
<html ng=app>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width" />

<title>CyTube</title>
<!--Style sheets-->
<link rel="stylesheet" href="/site.css">
<link rel="stylesheet" href="/slick.css">
<link rel="stylesheet" href="/slick-theme.css">
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/slick.js" type="text/javascript" charset="utf-8"></script>

</head>

<body>

	<% include ../partials/template%>
	
	<p>Video of the day!</p>
	<button onclick="location.href = '/watch/Video of the day';" id="myButton" class="float-left submit-button" >Click me</button>

<div id="container" class="border">
	<div class="page_region">
		<label>Highlights</label>
	</div>
	
	<div class="highlight_reel">
		<div class="slick-slide">
			<div class="image">
				 <h2 align="center"><a href="/watch/sample">sample.mp4</a></h2>
			     <video id="videoPlayer" width="560" height="420" controls>
				 <source src= "http://localhost:8080/video/sample" type="video/mp4">
  			 	 </video>
			</div>
		</div>
		<div class="slick-slide">
			<div class="image">
				 <h2 align="center"><a href="/watch/Flight over muddy river">Flight over muddy river.mp4</a></h2>
				 <video id="videoPlayer" width="560" height="420" controls>
				 <source src= "http://localhost:8080/video/Flight over muddy river" type="video/mp4">
  			 	 </video>
			</div>
		</div>
		<div class="slick-slide">
			<div class="image">
				 <h2 align="center"><a href="/watch/Time lapse driving in a rainy night">Time lapse driving in a rainy night.mp4</a></h2>
				 <video id="videoPlayer" width="560" height="420" controls>
				 <source src= "http://localhost:8080/video/Time lapse driving in a rainy night" type="video/mp4">
  			 	 </video>
			</div>
		</div>
		<div class="slick-slide">
			<div class="image">
				<img src="images/UseLinux.jpg">
			</div>
		</div>
		<div class="slick-slide">
			<div class="image">
				<img src="images/llama.jpg">
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
		
	$('.highlight_reel').slick({
	  infinite: true,
	  speed: 400,
	  slidesToShow: 3,
	  slidesToScroll: 1,
	  arrows: true,
	  autoplay: true,
	  responsive: [
		{
		  breakpoint: 1024,
		  settings: {
			slidesToShow: 3,
			slidesToScroll: 3,
			infinite: true,
			dots: true
		  }
		},
		{
		  breakpoint: 600,
		  settings: {
			slidesToShow: 2,
			slidesToScroll: 2
		  }
		},
		{
		  breakpoint: 480,
		  settings: {
			slidesToShow: 1,
			slidesToScroll: 1
		  }
		}
		// You can unslick at a given breakpoint now by adding:
		// settings: "unslick"
		// instead of a settings object
	  ]
	});
});
	

</script>

</body>
</html>